* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: #333;
}

.app {
  background-color: #3f51b5;
  padding: 30px;
  min-height: 100vh;
  height: 100%;
  font-family: "Raleway", sans-serif;

  .title {
    height: 3rem;
    background-color: lightcyan;
    color: black;
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 2rem;
  }
  .todo-list {
    display: flex;
    flex-direction: column;
    background: #e8e8e8;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 1rem;

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-top: 0.5rem;

      .formButtons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }

      p {
        padding: 0.5rem;
        margin: 0;
      }
    }
  }
  .todo {
    background-color: #bec7f6;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    padding: 3px 10px;
    font-size: 12px;
    margin-bottom: 6px;
    border-radius: 3px;
    display: flex;
    align-items: left;
    flex-direction: column;
  }

  .todo-completed {
    background-color: #bec7f6;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    padding: 3px 10px;
    font-size: 12px;
    margin-bottom: 6px;
    border-radius: 3px;
    display: flex;
    align-items: left;
    flex-direction: column;
  }

  .input {
    font-size: 1rem;
    height: 2rem;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    margin: 0.5rem 0.3rem 0.5rem 0.3rem;
    padding: 0.5rem;
  }
}

.btn {
  background-color: rgb(142, 210, 233);
  margin: 0.2rem;
  font-size: 1rem;
  border: 1px solid black;
  width: 100%;
}

.clear-btn {
  background-color: rgb(142, 210, 233);
  font-size: 1rem;
  border: 1px solid black;
  width: 100%;
  color: black;
}

.clear-btn:hover {
  background-color: rgb(28, 175, 224);
  font-size: 1rem;
  border: 1px solid black;
  width: 100%;
}

.form-btn:hover {
  background-color: rgb(28, 175, 224);
  font-size: 1rem;
  border: none;
  height: 1.5rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.form-btn {
  background-color: lightblue;
  font-size: 1rem;
  width: 100%;
  height: 1.5rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.btn:hover {
  background-color: rgb(28, 175, 224);
  margin: 0.2rem;
  font-size: 1rem;
  border: 1px solid black;
}

.taskTitle {
  font-size: 1.5rem;
  margin: 0.2rem;
  font-weight: 400;
}

.taskDescription {
  margin: 0.2rem;
  font-size: 1rem;
  background-color: white;
  padding: 0.2rem;
}

.completed {
  color: greenyellow;
  font-size: 1rem;
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
}

.pending {
  color: rgb(255, 115, 0);
  font-size: 1rem;
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
  font-weight: 500;
}

.MuiInputBase-input {
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 0;
  height: 1.1875em;
  margin: 0.5rem;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  animation-name: MuiInputBase-keyframes-auto-fill-cancel;
  -webkit-tap-highlight-color: transparent;
}

.finishBy {
  font-size: 1rem;
}
