/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: #333;
} */

.app {
  background-color: #3f51b5;
  padding: 30px;
  height: 100vh;

  .title {
    height: 3rem;
    background-color: lightcyan;
    color: black;
    text-align: center;
    margin-bottom: .5rem;
    padding-top: 1.3rem;
    font-size: 2rem;
  }
  .todo-list {
    display: flex;
    flex-direction: column;
    background: #e8e8e8;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 1rem;
    
    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-top: .5rem;

      .formButtons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }

      p {
        padding: .5rem;
        margin:0;
      }
    }
  }
  .todo {
    background: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    // padding: 3px 10px;
    font-size: 12px;
    margin-bottom: 6px;
    border-radius: 3px;
    display: flex;
    align-items: left;
    flex-direction: column;
  }
  .input {
    font-size: 1rem;
    height: 2rem;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    margin: 1rem;
  }
}

.btn {
  background-color: lightblue;
  margin: .2rem;
  font-size: 1rem;
}

.btn:hover {
  background-color: rgb(28, 175, 224);
  margin: .2rem;
  font-size: 1rem;
}


.todo-completed {
  background-color: rgba(90, 250, 42, 0.466);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: left;
  flex-direction: column;
}





