/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: #333;
} */

.app {
  background: #209cee;
  padding: 30px;
  height: 100vh;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
  margin-bottom: 1rem;
}

.todo {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: left;
  flex-direction: column;
}

.input {
  width: 100%;
  /* height: 5rem; */
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  /* background-color:rebeccapurple; */
}

.todo-completed {
  background-color: rgb(82, 190, 49);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: left;
  flex-direction: column;
}

/* .completed {
  background-color: bisque;
  text-align: center;
} */
